<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://ci.ufpb.br/ci/contents/imagens/site/logo-ci.jpeg" type="image/jpeg">
    <title>Listagem de vendas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
<body style="background-color: #e2e2e2;">
    {% csrf_token %}
    <script>
        function deleteById(id) {
            var csrftoken = '{{ csrf_token }}';
            fetch(`/venda/delete/${id}`, {
                method: "DELETE",
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
                },
            })
            .then(response => {
                if (response.ok) {
                console.log("Deletado com sucesso!");
                } else {
                console.log("Erro ao deletar");
                }
            })
            .catch(error => {
                console.log("Erro:", error);
            });
        };
      </script>
    <div class="container">
        <h1 class="text-center">Lista de vendas</h1>
        <hr>
        {% if vendaTotal.0 %}
            <p>Valor total de vendas: R$ {{ vendaTotal.0 }}</p>
        {% else %}
            <p>Valor total de vendas: R$ 0,00</p>
        {% endif %}
        
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Veículo ID</th>
                        <th>Cliente ID</th>
                        <th>Data venda</th>
                        <th>Valor de venda</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in obj %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://cdn-icons-png.flaticon.com/512/3342/3342741.png" alt="" style="width: 45px; height: 45px" class="rounded-circle">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{x.idveiculo}}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{x.idcliente}}</td>
                        <td>{{x.datavenda}}</td>
                        <td>R$ {{x.valorvenda}}</td>
                        <td>
                            <button onclick="location.href='/venda/edit/{{x.idvenda}}'" type="button" class="btn-link btn-sm btn-rounded">Editar</button>
                            <button onclick="deleteById('{{x.idvenda}}')" type="button" class="btn-link btn-sm btn-rounded">Deletar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>