<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <link rel="icon" href="https://ci.ufpb.br/ci/contents/imagens/site/logo-ci.jpeg" type="image/jpeg">
  <title>Registro de nova venda</title>
  <style>
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body style="background-color: #e2e2e2;">
  <div class="container">
    <div class="form-container">
      <h1>Efetivar nova venda</h1>
      <form id="form-venda" class="needs-validation" method="post" novalidate>
        {% csrf_token %}

        <div class="mb-3">
          <label for="idveiculo" class="form-label"><b>Selecione o modelo</b></label>
          <select name="idveiculo"  class="form-control" id="idveiculo" placeholder="Selecione o veículo">
            {% for x in veiculo %}
              <option value={{x.idveiculo}}>{{x.modelo}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label for="idcliente" class="form-label"><b>Selecione o cliente</b></label>
          <select name="idcliente" class="form-control" id="idcliente" placeholder="Selecione o cliente">
            {% for x in cliente %}
              <option value={{x.idcliente}}>{{x.nome}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label for="idfuncionario" class="form-label"><b>Selecione o funcionário</b></label>
          <select name="idfuncionario" class="form-control" id="idfuncionario" placeholder="Selecione o funcionário">
            {% for x in funcionario %}
              <option value={{x.idfuncionario}}>{{x.nome}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label for="codpagamento" class="form-label"><b>Selecione a forma de pagamento</b></label>
          <select name="codpagamento" class="form-control" id="codpagamento" placeholder="Selecione a forma de pagamento">
            {% for x in pagamento %}
              <option value={{x.codpagamento}}>{{x.tipopgto}}</option>
            {% endfor %}
          </select>
        </div>

        <!--Se o cliente for flamenguista, ou otaku ou de sousa, aplica-se um desconto de 3% do valor total do veiculo  -->

        <div class="mb-3">
          <label for="percentdesconto" class="form-label"><b>Desconto</b></label>
          <input name="percentdesconto" type="number" class="form-control" id="desconto" placeholder="Insira o desconto" required min="3" max="9">
        </div>


        <div class="mb-3">
          <label for="valorvenda" class="form-label"><b>Valor da venda</b></label>
          <input name="valorvenda" type="text" class="form-control" id="valorvenda" placeholder="Insira o valor" required min="68250">
        </div>

        <div class="mb-3">
          <label for="datavenda" class="form-label"><b>Data da venda</b></label>
          <input name="datavenda" type="date" class="form-control" id="datavenda" placeholder="Insira a data" required min="2020-01-01" max="">
        </div>

        <button type="submit" class="btn btn-success">Confirmar</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('form-venda').addEventListener('submit', function(event) {
      var inputs = this.querySelectorAll('input');
      var selects = this.querySelectorAll('select');
      var dates = this.querySelectorAll('input[type="date"]:required');
  
      var isValid = true;
  
      inputs.forEach(function(input) {
        if (input.value.trim() === '') {
          isValid = false;
        }
      });
  
      selects.forEach(function(select) {
        if (select.value.trim() === '') {
          isValid = false;
        }
      });
  
      dates.forEach(function(date) {
        if (date.value.trim() === '') {
          isValid = false;
        }
      });
  
      if (!isValid) {
        event.preventDefault();
        alert('Por favor, preencha todos os campos do formulário.');
      }
    });
  </script>

  <script>
    var inputDate = document.getElementById("datavenda");

    var hoje = new Date();
    var dd = hoje.getDate();
    var mm = hoje.getMonth() + 1; 
    var yyyy = hoje.getFullYear();

    if (dd < 10) {
      dd = "0" + dd; 
    }
    if (mm < 10) {
      mm = "0" + mm; 
    }

    var dataMax = yyyy + "-" + mm + "-" + dd;
    
    inputDate.max = dataMax;
  </script>

</body>
</html>