<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <title>Formulário</title>
  <style>
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1>Nova Venda</h1>
      <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <label for="idveiculo" class="form-label">Veiculo</label>
        <select name="idveiculo"  class="form-control" id="idveiculo" placeholder="Selecione o veículo">
          {% for x in veiculo %}
            <option value={{x.idveiculo}}>{{x.modelo}}</option>
          {% endfor %}
        </select>
        <label for="idcliente" class="form-label">Cliente</label>
        <select name="idcliente"  class="form-control" id="idcliente" placeholder="Selecione o Cliente">
          {% for x in cliente %}
            <option value={{x.idcliente}}>{{x.nome}}</option>
          {% endfor %}
        </select>
        <div class="mb-3">
          <label for="datavenda" class="form-label">Data da Venda</label>
          <input name="datavenda" type="date" class="form-control" id="datavenda" placeholder="Insira a Data" required></input>
        </div>
        <div class="mb-3">
          <label for="valorvenda" class="form-label">Valor da Venda</label>
          <input name="valorvenda" type="text" class="form-control" id="valorvenda" placeholder="Insira o Valor" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
