<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <title>Formulário</title>
  <style>
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1>Novo Servico</h1>
      <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <label for="idveiculo" class="form-label">Veiculo</label>
        <select name="idveiculo"  class="form-control" id="idveiculo" placeholder="Selecione o veículo">
          {% for x in veiculo %}
            <option value={{x.idveiculo}}>{{x.modelo}}</option>
          {% endfor %}
        </select>
        <div class="mb-3">
            <label for="codservico" class="form-label">Código do Serviço</label>
            <input name="codservico" type="text" class="form-control" id="codservico" placeholder="Insira o Código" required>
        </div>
        <div class="mb-3">
          <label for="dataservico" class="form-label">Data do Serviço</label>
          <input name="dataservico" type="date" class="form-control" id="dataservico" placeholder="Insira a Data" required></input>
        </div>
        <div class="mb-3">
          <label for="valorservico" class="form-label">Valor do Serviço</label>
          <input name="valorservico" type="text" class="form-control" id="valorservico" placeholder="Insira o Valor" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
