<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://ci.ufpb.br/ci/contents/imagens/site/logo-ci.jpeg" type="image/jpeg">
        <title>Funcionários da Concessionária</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
    </head>

    <script>
        function deleteById(id) {
            var csrftoken = '{{ csrf_token }}';
            fetch(`/funcionario/delete/${id}`, {
                method: "DELETE",
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
                },
            })
            .then(response => {
                if (response.ok) {
                console.log("Deletado com sucesso!");
                } else {
                console.log("Erro ao deletar");
                }
            })
            .catch(error => {
                console.log("Erro:", error);
            });
        };

        function pesquisarFuncionario() {
            var consulta = document.getElementById('consulta').value;
            if (consulta.trim() !== '') {
                var url = '/funcionario/search/' + encodeURIComponent(consulta).toString();
                window.location.href = url;
            }
        }

      </script>

    <body style="background-color: #e2e2e2;">
        
        <div class="container">
            <h1 class="text-center">Lista de funcionários</h1>
            <hr>

            <div class="mb-3">
                <label for="consulta" class="form-label"><b>Pesquise funcionários por nome:</b></label>
                <div class="input-group">
                    <input name="consulta" type="text" class="form-control" id="consulta" placeholder="Insira o nome do funcionário" required minlength="3" maxlength="20">
                    <button onclick="pesquisarFuncionario()" type="button" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
            
            {% if maiorSalario.0 %}
                <p>Salário mais alto: R$ {{ maiorSalario.0 }}</p>
            {% else %}
                <p>Salário mais alto: R$ 0,00</p>
            {% endif %}
        
            {% if totalSalario.0 %}
                <p>Folha salarial: R$ {{ totalSalario.0 }}</p>
            {% else %}
                <p>Folha salarial: R$ 0,00</p>
            {% endif %}

            <div class="table-responsive">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Nome</th>
                            <th>Cargo</th>
                            <th>Salário</th>
                            <th>Data de admissão</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in obj %}

                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3106/3106921.png" alt="" style="width: 45px; height: 45px" class="rounded-circle">
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">{{x.nome}}</p>
                                    </div>
                                </div>
                            </td>

                            <td>{{x.nomecargo}}</td>
                            <td>R$ {{x.salario}}</td>
                            <td>{{x.dataadmissao}}</td>
                            <td>
                                <button onclick="location.href='/funcionario/edit/{{x.idfuncionario}}'" type="button" class="btn btn-info">Editar</button>
                                <button onclick="deleteById('{{x.idfuncionario}}')" type="button" class="btn btn-danger">Deletar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </div>
        </div>
    </body>
</html>