<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concessionária CI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
<body>
    {% csrf_token %}
    <script>
        function deleteById(id) {
            var csrftoken = '{{ csrf_token }}';
            fetch(`/veiculo/delete/${id}`, {
                method: "DELETE",
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
                },
            })
            .then(response => {
                if (response.ok) {
                console.log("Deletado com sucesso!");
                } else {
                console.log("Erro ao deletar");
                }
            })
            .catch(error => {
                console.log("Erro:", error);
            });
        };
      </script>
    <div class="container">
        <h1 class="text-center">Lista de veículos</h1>
        <hr>
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Modelo</th>
                        <th>Código da marca</th>
                        <th>Nº de portas</th>
                        <th>Ano</th>
                        <th>Cor</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in obj %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://media.istockphoto.com/id/1150931120/pt/foto/3d-illustration-of-generic-compact-white-car-front-side-view.jpg?s=612x612&w=0&k=20&c=X5y9yhPGjjQXbljPUBr18Ui4l5qSSvHcaUz23_2-mgA=" alt="" style="width: 45px; height: 45px" class="rounded-circle">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{x.modelo}}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{x.codmarca}}</td>
                        <td>{{x.numportas}}</td>
                        <td>{{x.ano}}</td>
                        <td>{{x.cor}}</td>
                        <td>{{x.valor}}</td>
                        <td>
                            <button onclick="location.href='/veiculo/edit/{{x.idveiculo}}'" type="button" class="btn-link btn-sm btn-rounded">Editar</button>
                            <button onclick="deleteById('{{x.idveiculo}}')" type="button" class="btn-link btn-sm btn-rounded">Deletar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>