<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://ci.ufpb.br/ci/contents/imagens/site/logo-ci.jpeg" type="image/jpeg">
    <title>InforCar Mangabeira</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
<body style="background-color: #e2e2e2;">
    {% csrf_token %}
    <script>
        function deleteById(id) {
            var csrftoken = '{{ csrf_token }}';
            fetch(`/veiculo/delete/${id}`, {
                method: "DELETE",
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
                },
            })
            .then(response => {
                if (response.ok) {
                console.log("Deletado com sucesso!");
                } else {
                console.log("Erro ao deletar");
                }
            })
            .catch(error => {
                console.log("Erro:", error);
            });
        };

        function pesquisarVeiculo() {
            var consulta = document.getElementById('consulta').value;
            if (consulta.trim() !== '') {
                var url = '/veiculo/search/' + encodeURIComponent(consulta).toString();
                window.location.href = url;
            }
        }

      </script>
    <div class="container">
        <h1 class="text-center">📜Lista de veículos 🚗🚙🚐</h1>
        <hr>
        
        <div class="mb-3">
            <label for="consulta" class="form-label"><b>Pesquise veículos por nome:</b></label>
            <div class="input-group">
                <input name="consulta" type="text" class="form-control" id="consulta" placeholder="Insira o modelo" required minlength="3" maxlength="20">
                <button onclick="pesquisarVeiculo()" type="button" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
        <p>Modelo com maior quantidade em estoque: {{modeloFrequente.0}}</p>

        {% if valorTotal.0 %}
            <p>Valor total de veículos: R$ {{valorTotal.0}}</p>
        {% else %}
            <p>Valor total de veículos: R$ 0,00</p>
        {% endif %}
        
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Nº de portas</th>
                        <th>Ano</th>
                        <th>Cor</th>
                        <th>Valor</th>
                        <th>Vendido</th>
                        <th>Ações</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for x in obj %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://media.istockphoto.com/id/1150931120/pt/foto/3d-illustration-of-generic-compact-white-car-front-side-view.jpg?s=612x612&w=0&k=20&c=X5y9yhPGjjQXbljPUBr18Ui4l5qSSvHcaUz23_2-mgA=" alt="" style="width: 45px; height: 45px" class="rounded-circle">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{x.modelo}}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{x.nomemarca}}</td>
                        <td>{{x.numportas}}</td>
                        <td>{{x.ano}}</td>
                        <td>{{x.cor}}</td>
                        <td>R$ {{x.valor}}</td>
                        <td>{% if x.statusvenda %}Sim{% else %}Não{% endif %}</td>
                        <td>
                            <button onclick="location.href='/veiculo/edit/{{x.idveiculo}}'" type="button" class="btn btn-info">Editar</button>
                            <button onclick="deleteById('{{x.idveiculo}}')" type="button" class="btn btn-danger">Deletar</button>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>