<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <title>Formulário</title>
  <style>
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1>Novo Veículo</h1>
      <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label for="modelo" class="form-label">Modelo</label>
          <input name="modelo" type="text" class="form-control" id="modelo" placeholder="Insira o modelo" required minlength="3" maxlength="20">
        </div>
        <div class="mb-3">
            <label for="codmarca" class="form-label">Código da Marca</label>
            <input name="codmarca" type="text" class="form-control" id="codmarca" placeholder="Insira o código da marca" requiredmaxlength="2">
          </div>
        <div class="mb-3">
          <label for="numportas" class="form-label">Número de Portas</label>
          <input name="numportas" type="text" class="form-control" id="numportas" placeholder="Insira o número de portas" required minlength="1" maxlength="1"></input>
        </div>
        <div class="mb-3">
          <label for="ano" class="form-label">Ano</label>
          <input name="ano" type="text" class="form-control" id="ano" placeholder="Insira o ano" required minlength="4" maxlength="4">
        </div>
        <div class="mb-3">
          <label for="cor" class="form-label">Cor</label>
          <input name="cor" type="text" class="form-control" id="cor" placeholder="Insira a cor" required minlength="3" maxlength="15">
        </div>
        <div class="mb-3">
          <label for="valor" class="form-label">Valor</label>
          <input name="valor" type="number" class="form-control" id="valor" placeholder="Insira o valor" minlength="5" maxlength="10"required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
