<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://ci.ufpb.br/ci/contents/imagens/site/logo-ci.jpeg" type="image/jpeg">
  <title>InforCar Mangabeira</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .card-img-top {
      background-size: cover;
      background-position: center;
      height: 200px;
    }
  </style>
</head>

<body style="background-color: #e2e2e2;">
  <div class="container">
    <h1 class="mt-4 text-center">InforCar Mangabeira</h1>
    <div class="row mt-6">
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1583&q=80');"></div>
          <div class="card-body">
            <h5 class="card-title">🚗 Veículos</h5>
            <p class="card-text">Visualize a lista de veículos disponíveis.</p>
            <a href="/veiculo" class="btn btn-primary">Ver Veículos</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');"></div>
          <div class="card-body">
            <h5 class="card-title">👥 Clientes</h5>
            <p class="card-text">Visualize a lista de clientes cadastrados.</p>
            <a href="/cliente" class="btn btn-primary">Ver Clientes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2021&q=80');"></div>
          <div class="card-body">
            <h5 class="card-title">👨‍💼 Funcionários</h5>
            <p class="card-text">Visualize a lista de funcionários.</p>
            <a href="/funcionario" class="btn btn-primary">Ver Funcionários</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80');"></div>
          <div class="card-body">
            <h5 class="card-title">📈 Venda</h5>
            <p class="card-text">Faça uma venda.</p>
            <a href="/venda" class="btn btn-primary">Ver Vendas</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mx-auto mt-5">
        <div class="card">
          <div class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80');"></div>
          <div class="card-body">
            <h5 class="card-title">📝 Histórico de Vendas</h5>
            <p class="card-text">Visualize o histórico de vendas realizadas.</p>
            <a href="/historico-vendas" class="btn btn-primary">Ver Histórico</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
